services:
  admin-panel:
    image: danielgiacobelli/new-kiosk-admin-panel:latest
    pull_policy: always

    restart: unless-stopped

    ports:
      - "3000:3000"

    # Allow container to reach host's Chrome DevTools on :9222
    extra_hosts:
      - "host.docker.internal:host-gateway"

    environment:
      DEFAULT_URL_FILE: /settings/default_url.txt
      CHROME_REMOTE_URL: http://host.docker.internal:9222
      PORT: "3000"
      HOSTNAME: "0.0.0.0"

    volumes:
      - ./settings:/settings
